/* ---------------------- */
/* Comment Content        */
/* ---------------------- */

:root {
  --fs-400: 1rem;
  --fw-regualar: 400;
}

#main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

::selection {
  background-color: white;
  color: black;
}

@media (prefers-color-scheme: light) {
  ::selection {
    background-color: black;
    color: white;
  }
}
