/* ---------------------- */
/* Comment Content        */
/* ---------------------- */

:root {
  --fs-400: 1rem;
  --fw-regualar: 400;
}

body {
  background-color: black;
  color: white;
}

#main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
